OPENAI_API_KEY=
DISCORD_TOKEN=
BOT_NAME=スフェーン
COMMAND_GROUP_NAME=sphene
OPENAI_MODEL=gpt-4o-mini

# システムプロンプトの設定
SYSTEM_PROMPT_FILENAME=system.txt
# プロンプトのストレージタイプ: local または s3
PROMPT_STORAGE_TYPE=local
# S3バケット名（PROMPT_STORAGE_TYPE=s3 の場合に使用）
S3_BUCKET_NAME=your-bucket-name
# S3フォルダパス（オプション、指定しない場合はバケットのルートに配置）
S3_FOLDER_PATH=prompts

# AWSの認証情報（PROMPT_STORAGE_TYPE=s3 の場合に使用）
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_PROFILE=
AWS_DEFAULT_REGION=

CHANNEL_CONFIG_STORAGE_TYPE=local
CHANNEL_CONFIG_PATH=channel_config.json

# ログレベル設定: DEBUG, INFO, WARNING, ERROR, CRITICAL のいずれか
LOG_LEVEL=INFO
